.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.flag-word-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
}

.flag-word-wrapper img {
  width: 100px;
  max-width: 100px;
}

input {
	font-size: 60px;
	color: white;
	background: none;
	border: none;
	text-align: center;
}