.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.flag-word-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  place-content: center;
}

.flag-word-wrapper img {
  width: 100px;
  max-width: 100px;
}

textarea {
	font-size: 2em;
	color: white;
	background: none;
	border: none;
  text-align: center;
  max-width: 80%;
}

.selectable-flag {
  max-width: 100px;
}

@media only screen and (max-width: 600px){
  .flag-word-wrapper {
    grid-auto-flow: initial;
    grid-template-columns: repeat(6, 1fr);
    place-content: center;
  }

  .flag-word-wrapper img {
    width: 100%;
  }

  .selectable-flag {
    max-width: 75px;
  }

  .main {
    max-width: 375px;
  }
}

.main {
  background: #282c34;
  height: 100%;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  padding-left: 20px;
  padding-right: 20px;
  

}

.text-encoded {
  color:white;
  font-size: 2em;
  font-family: monospace;
}

h2 {
  color: white;
}